*.zip
*.log
.env
discord_config.json
__pycache__/
test_scripts/
archive_backups/
backups/
legacy_updates/
scratch_script_*.js
threads_bridge_*
*.py
*.pyw
discord_rsvp_ids.json
tokens_config.json
*/tokens_config.json


